:root {
  --darkPuppleColor: #40407a;
  --darkIvoryColor: #f7f1e3;
  --whiteColor: #ffffff;
  --lightRedColor: #ff5252;
  --lightGreenColor: #33d9b2;
  --lightBlueColor: #34ace0;
  --lightOrangeColor: #ffb142;
  --lightGrey: #d1ccc0;
  --lighterGrey: #e4dfd4;
}
