.breadcrumb {
  color: black;
  margin: 0 0 1rem 0;
  color: var(--darkPuppleColor);
  padding: 2rem 0 2rem 0;
  border-bottom: 3px solid var(--darkPuppleColor);
  font-size: 1.2rem;
  height: max-content;
}

.breadcrumb .current-location {
  color: var(--lightBlueColor);
}

.breadcrumb a:hover {
  font-weight: bold;
  color: var(--lightRedColor);
}

.breadcrumb .bar {
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .breadcrumb .bar {
    display: inline-block;
  }
}
