@font-face {
  font-family: 'Do Hyeon';
  src: url('/font/DoHyeon-Regular.woff2') format('woff2');
  font-weight: 400, 700;
}
@font-face {
  font-family: 'Source Han Serif';
  src: url('/font/SourceHanSerifK-Bold.ttf') format('truetype'),
    url('/font/SourceHanSerifK-Regular.ttf') format('truetype');
  font-weight: 400, 700;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
div,
body,
button {
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
  outline: none;
}

body {
  font-family: 'Do Hyeon', 'Source Han Serif', sans-serif;
}

ul {
  font-family: inherit;
  list-style: none;
}

.main ul *,
.main li * {
  font-family: 'Do Hyeon';
}

.main ul li {
  margin: 0.3rem 0;
}

.main ul:not(.downloads) li::before {
  content: '•';
  margin-right: 0.5rem;
}

.main ul:not(.downloads) li ul li::before {
  content: '✅ ';
  padding-left: 1rem;
}

.main ul:not(.downloads) li ul li ul li::before {
  content: '☑️ ';
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

span {
  font-family: inherit;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

h2 a i {
  font-size: 1rem;
  vertical-align: middle;
  color: var(--lightGreenColor);
}

h3 {
  font-weight: normal;
  border-bottom: 2px solid var(--lightOrangeColor);
  width: fit-content;
  margin: 2rem 0;
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 1.5rem 0;
}

h5 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem 0;
}

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0;
}

h2 a,
h3 a {
  visibility: hidden;
  display: inline-block;
}
h2:hover a,
h3:hover a {
  visibility: visible;
  display: inline-block;
}

.main h1 ~ *,
.main h2 ~ *,
.main h3 ~ *,
.main h4 ~ *,
.main h5 ~ *,
.main h6 ~ * {
  margin-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0 !important;
}

.main a {
  font-size: 1rem;
  color: black;
  font-style: italic;
  margin-right: 0.3rem;
}

.main a:hover {
  color: var(--lightRedColor);
  text-decoration: underline;
}

p {
  font-weight: normal;
  font-family: 'Source Han Serif';
  line-height: 2rem;
}

p a {
  font-weight: bold;
}

p strong > code,
li strong > code,
p > code,
li > code {
  background-color: var(--lightOrangeColor);
  border-radius: 10px;
  padding: 5px;
  font-family: inherit;
}

td:first-child pre {
  width: max-content;
}

hr {
  color: var(--lightGrey);
  margin: 2rem 0;
}

.input + hr,
.output + hr,
.problem + hr {
  margin: 1rem 0;
}

blockquote {
  padding: 0;
  margin: 0.2rem 1rem;
}

blockquote p {
  width: auto;
  padding: 0 0 0 0.5rem;
  margin: 0.5rem 0;
  border-left: 3px solid var(--lightGreenColor);
}

.input,
.output,
.problem,
.solution,
.example {
  font-size: 1.5rem;
  border: 3px solid black;
  width: max-content;
  padding: 0.5rem;
  border-radius: 15px;
}

.input {
  background-image: radial-gradient(
    929px at 0.6% 1.3%,
    rgb(248, 251, 10) 0%,
    rgb(248, 47, 47) 82.6%
  );
}

.output {
  background-image: radial-gradient(
    929px at 0.6% 1.3%,
    rgb(30, 251, 10) 0%,
    rgb(78, 172, 41) 82.6%
  );
}

.problem {
  background-image: radial-gradient(
    929px at 0.6% 1.3%,
    rgb(224, 71, 33) 0%,
    rgb(211, 168, 52) 82.6%
  );
}

.solution {
  background-image: radial-gradient(
    929px at 0.6% 1.3%,
    rgb(41, 192, 230) 0%,
    rgb(211, 168, 52) 82.6%
  );
  cursor: pointer;
  margin-bottom: 1rem;
}

.example {
  background-image: radial-gradient(
    929px at 0.6% 1.3%,
    rgb(179, 124, 230) 0%,
    rgb(211, 168, 52) 82.6%
  );
}

.solution:hover {
  background: #f9ca24;
}

.highlight > div[style] {
  border-radius: 15px;
}

.highlight > pre[style] {
  border-radius: 15px;
  max-width: 100%;
}

.highlight.hidden {
  display: none;
}

.copy-to-clipboard {
  background-size: 1.2rem 1.2rem;
  background-image: url('../images/clippy.svg');
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--darkIvoryColor);
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 3px;
  opacity: 0.7;
}

.showCopy {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: var(--lightGreenColor);
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: black;
}

.showCopy.error {
  background-color: var(--lightRedColor);
}

.highlight table {
  position: relative;
}

pre {
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  background-color: var(--lightGrey);
  padding: 1rem;
}

.hideInner {
  display: none;
}

.hideInner.show {
  display: block;
}

.displayHideInner {
  border: 3px solid var(--lightGreenColor);
  background-color: var(--lightGreenColor);
  padding: 0.1rem 0.2rem;
  border-radius: 15px;
  font-family: 'Do Hyeon';
  cursor: pointer;
}

.displayHideInner:hover {
  background-color: var(--lightRedColor);
  border: 3px solid var(--lightRedColor);
}

.main__plan .plan__title {
  font-size: 2rem;
}

.main.index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
}

.main ul.downloads {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main ul.downloads li {
  margin-right: 1rem;
}

table {
  border: 1px solid var(--lightGrey);
  border-spacing: 0;
  width: 100%;
}

th {
  border: 0.5px solid var(--lightGrey);
  padding: 0.5rem 2rem;
  background-color: var(--lighterGrey);
}

td {
  border: 0.5px solid var(--lightGrey);
  padding: 0.5rem 2rem;
}

.main img {
  max-width: 100%;
}

.notFound .goHome {
  font-size: 2rem;
  width: fit-content;
  cursor: pointer;
  color: black;
}

.notFound .goHome:hover {
  color: var(--lightBlueColor);
  border-bottom: 2px solid var(--lightBlueColor);
}

em {
  margin: 0 0.3rem;
  background-color: var(--lighterGrey);
  padding: 0.2rem;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .highlight table td:first-child {
    display: none;
  }

  .highlight > div[style],
  .highlight > pre[style] {
    border-radius: 15px;
    width: auto;
    min-width: auto;
    max-width: auto;
  }

  .highlight table td:not(:first-child) pre::after {
    right: 1rem;
  }

  .main__plan .plan__title {
    font-size: 1.5rem;
  }

  .main.index .main__plan .plans {
    font-size: 0.6rem;
  }

  th:nth-child(2n) {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  td {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .main.index h1 {
    margin: 0.5rem 0 1rem 0;
  }

  .main__content {
    font-size: 0.8rem;
  }

  .main__content h3 {
    margin: 1rem 0 1.5rem 0;
  }
}
