.footer {
  background-color: var(--darkPuppleColor);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 14rem;
  height: max-content;
  color: var(--whiteColor);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 0.8rem;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .footer {
    width: 100vw;
    height: max-content;
  }
}
