.list {
  padding: 1rem 1rem 1rem 15rem;
}

.list__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-gap: 3rem;
}

.list__item a:hover {
  background-color: var(--lightGreenColor);
}

.list__item {
  border-bottom: 1px solid black;
}

.list__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list__item .item__title {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.list__item .item__title .prefix {
  font-size: 0.8rem;
  vertical-align: text-top;
  color: var(--lightRedColor);
  border: 1px solid var(--lightRedColor);
  padding: 0 0.2rem;
}

.list__item .item__modifier {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.list__item a .list__column:last-child {
  width: 20%;
  height: 100%;
  padding: 0.3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__item a .list__column:first-child {
  width: 75%;
  padding: 0.3rem;
}

.list ol .list__item {
  font-size: 2rem;
}

.list .list__item .author {
  margin-left: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .list__items {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
  }
}

@media screen and (min-width: 0px) and (max-width: 440px) {
  .list__item a .list__column:last-child {
    font-size: 0.6rem;
  }
}
