.nav {
  width: 14rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  color: var(--whiteColor);
  background-color: var(--darkPuppleColor);
  padding: 1rem;
  overflow-y: auto;
}

.nav .nav__onSide {
  overflow-y: auto;
}

.nav .nav__basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .basic__home,
.nav .basic__search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.nav .basic__home:hover,
.nav .basic__search:hover {
  border-radius: 15px;
}

.nav .basic__home:hover,
.nav .basic__search:hover,
.nav .menu .menu__item:hover {
  background-color: var(--darkIvoryColor);
  color: var(--darkPuppleColor);
}

.nav .basic__home span,
.nav .basic__search span {
  font-size: 0.7rem;
  margin-top: 0.3rem;
}

.nav .menu {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(autofill, minmax(max-content, 3rem));
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(max-content, 3rem);
  justify-content: start;
  align-items: center;
}

.nav .menu__item {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}

.nav .menu__item.selected {
  background-color: var(--darkIvoryColor);
  color: var(--darkPuppleColor);
  border: 0.3rem solid var(--lightRedColor);
}

.nav .menu__item + .sub {
  display: none;
}

.nav .menu__item.selected + .sub {
  display: block;
}

.nav .sub__item {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--darkIvoryColor);
  color: var(--darkPuppleColor);
  margin: 0 1rem;
}

.nav .sub__item:hover {
  background-color: var(--lightRedColor);
  color: var(--darkPuppleColor);
}

.nav .sub__item.selected {
  background-color: var(--lightGreenColor);
}

.nav .counter {
  background-color: var(--lightRedColor);
  padding: 0.005rem 0.1rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.4rem;
  font-size: 0.6rem;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .nav {
    transform: translateX(-100vw);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: transparent;
  }

  .nav .nav__onSide {
    background-color: var(--darkPuppleColor);
    height: 100%;
    width: 40%;
    padding: 1rem;
  }

  .nav .nav__offSide {
    background-color: transparent;
    height: 100%;
    width: 60%;
  }

  .nav.showMenu {
    transform: translateX(0);
    z-index: 1;
  }
}
