.previousToNext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
  padding: 1rem 0;
  font-size: 1.3rem;
  border-top: 1px solid var(--darkPuppleColor);
  border-bottom: 1px solid var(--darkPuppleColor);
}

.previousToNext a {
  padding: 1rem 1rem;
  background-color: var(--lightGreenColor);
  width: max-content;
}

.previousToNext a:nth-child(2) {
  margin-left: 3rem;
}

.previousToNext a:hover {
  background-color: var(--lightRedColor);
  color: var(--darkIvoryColor);
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .previousToNext {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .previousToNext a {
    padding: 1rem 1rem;
  }
}
