@import "_variables.css";
@import "common.css";
@import "nav.css";
@import "single.css";
@import "list.css";
@import "breadcrumb.css";
@import "search.css";
@import "tags.css";
@import "footer.css";
@import "tableOfContents.css";
@import "previousToNext.css";

.container {
  padding: 0 2rem;
  margin-left: 14rem;
  margin-right: 10rem;
  height: 100vh;
}

.container .container__header {
  padding: 0.5rem;
}

.container__middle {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .container .header__menu {
    display: inline-block;
    cursor: pointer;
  }

  .container.showMenu {
    opacity: 0.5;
  }
}
