.tags a {
  background-color: var(--lightOrangeColor);
  padding: 0.3rem;
  border-radius: 0 15px 15px;
  display: inline-block;
}

.tags a:hover {
  background-color: var(--lightRedColor);
  color: var(--whiteColor);
}
