{{define "main"}}
<div class="container list">
  {{ partial "breadcrumb.html" . }}
  {{ if eq .Section "search"}}
  {{ partial "search.html" . }}
  {{ else if eq .Section "latest"}}
  {{ partial "latest.html" . }}
  {{ else}}
  {{if (not .Content)}}
  <h1>
    {{ .Title }} 분류
  </h1>
  {{else}}
  {{.Content}}
  {{end}}
  {{partial "topToBottom.html" .}}
  <hr>
  <ul class="list__items">
    {{range .Pages.ByLastmod.Reverse}}
    <li class="list__item item">
      <a href="{{.RelPermalink}}">
        <div class="list__column">
          <div class="item__title">
            {{ if .Params.displayTitle }}
            {{ .Params.displayTitle }}
            {{ else }}
            {{.Title}}
            {{ end }}
          </div>
          <div class="item__description">
            {{.Description}}
          </div>
        </div>
        <div class="list__column">
          <div class="item__modifiedDate">
            {{ .Lastmod.Format "2006-01-02" }}
          </div>
          <div class="item__modifiedTime">
            {{ .Lastmod.Format "15:04:05" }}
          </div>
          <div class="item__modifier">
            {{if .GitInfo}}
            {{.GitInfo.AuthorName}}
            {{end}}
          </div>
        </div>
      </a>
    </li>
    {{end}}
  </ul>
  {{ end }}
</div>

{{end}}