<section class="container list">
  {{ partial "breadcrumb.html" . }}
  <h1>
    {{ if .Params.displayTitle }}
    {{ .Params.displayTitle }}
    {{ else }}
    {{.Title}}
    {{ end }}
    님의 문서
  </h1>
  <p>최근작업순서로 조회됩니다.</p>

  <ul class="list__items">
    {{- $.Scratch.Set "index" slice -}}
    {{- range .Site.RegularPages -}}
    {{ if .GitInfo }}
    {{- $.Scratch.Add "index" (dict "author" .GitInfo.AuthorName "title" .Title "displayTitle" .Params.DisplayTitle "permalink" .Permalink "description" .Description "lastmod" (time .Params.Lastmod)) -}}
    {{end}}
    {{- end -}}
    {{range sort ($.Scratch.Get "index") "lastmod" "desc" }}
    <li class="list__item item">
      <a href="{{.permalink}}">
        <div class="list__column">
          <div class="item__title">
            {{ if .displayTitle }}
            {{ .displayTitle }}
            {{ else }}
            {{.title}}
            {{ end }}
          </div>
          <div class="item__description">
            {{.description}}
          </div>
        </div>
        <div class="list__column">
          <div class="item__modifiedDate">
            {{ .lastmod.Format "2006-01-02 15:04:05" }}
          </div>
        </div>
      </a>
    </li>
    {{end}}
  </ul>

</section>