<section class="container list">
  {{ partial "breadcrumb.html" . }}
  <div>
    <h1>
      {{ if .Params.displayTitle }}
      {{ .Params.displayTitle }}
      {{ else }}
      {{.Title}}
      {{ end }}
    </h1>
    {{ with .Content }}
    <p>{{- . -}}</p>
    {{ end }}
  </div>

  <ol class="list__items">
    {{- range .Site.RegularPages -}}
    {{ if .GitInfo }}
    {{- $.Scratch.SetInMap "index" .GitInfo.AuthorName .GitInfo.AuthorName -}}
    {{end}}
    {{- end -}}
    {{- range $.Scratch.GetSortedMapValues "index" -}}
    {{- $authorName := . -}}
    <li class="list__item">
      <a href="/authors/{{- $authorName -}}">
        <span class="author">
          👍 {{$authorName}}
        </span>
      </a>
    </li>
    {{end}}
  </ol>

</section>