<footer class="footer">
  <span class="copyRight">
    &copy; Grab Algorithm ( 2020 ~ )
  </span>
  <span class="workBy">
    <div>
      Work by BroccoliInDB
    </div>
    <div>Favicon made by <a href="https://creativemarket.com/Becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a></div>
  </span>
</footer>