{{ $flexSearch := "https://cdnjs.cloudflare.com/ajax/libs/FlexSearch/0.6.2/flexsearch.min.js" | absURL }}

<head>
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_ads.html" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $styles := "css/styles.css" | absURL }}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="stylesheet" href="{{ $styles }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <script src="{{ $flexSearch }}"></script>
  <title>Algorithm-Blog</title>
</head>