{{ with .Site.GetPage "latest/_index.md" }}
{{ $today := now.Format "2006-01-02" }}
<section class="latest">
  <div>
    <h1>
      {{ if .Params.displayTitle }}
      {{ .Params.displayTitle }}
      {{ else }}
      {{.Title}}
      {{ end }}
    </h1>
    {{ with .Content }}
    <p>{{- . -}}</p>
    {{ end }}
  </div>

  <ul class="list__items">
    {{range first 10 .Site.RegularPages.ByLastmod.Reverse }}
    <li class="list__item item">
      <a href="{{.RelPermalink}}">
        <div class="list__column">
          <div class="item__title">
            {{ if (ge (.Lastmod.Format "2006-01-02") $today )}}
            {{ $.Scratch.Set "prefix" "update"}}
            {{ else }}
            {{ $.Scratch.Set "prefix" ""}}
            {{ end }}
            {{ $prefix := $.Scratch.Get "prefix"}}
            {{ if .Params.displayTitle }}
            {{ .Params.displayTitle }}
              {{if $prefix}}
              <span class="prefix">
                {{ $prefix}}
              </span>
              {{end}}
            {{ else }}
            {{.Title}}
              {{if $prefix}}
              <span class="prefix">
                {{ $prefix}}
              </span>
              {{end}}
            {{ end }}
          </div>
          <div class="item__description">
            {{.Description}}
          </div>
        </div>
        <div class="list__column">
          <div class="item__modifiedDate">
            {{ .Lastmod.Format "2006-01-02" }}
          </div>
          <div class="item__modifiedTime">
            {{ .Lastmod.Format "15:04:05" }}
          </div>
          <div class="item__modifier">
            {{if .GitInfo}}
            {{.GitInfo.AuthorName}}
            {{end}}
          </div>
        </div>
      </a>
    </li>
    {{end}}
  </ul>

</section>
{{ end }}