<div class="nav">
  {{ $selectedPage := print .Page.Section}}
  {{ $selectedSubPage := print .Page.Title}}
  {{ $.Scratch.Set "counter" 0 }}
  {{ $.Scratch.Set "cntProblems" 0 }}
  {{ $.Scratch.Set "cntAlgorithms" 0 }}
  {{ $today := now.Format "2006-01-02" }}
  {{ range .Site.RegularPages }}
    <!-- 최신문서 카운트 -->
    {{if (ge (.Lastmod.Format "2006-01-02") (now.Format "2006-01-02")) }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1)}}
    {{ end}}
    <!-- 문제문서 카운트 -->
    {{if (eq .Section "problems")}}
      {{ $.Scratch.Set "cntProblems" (add ($.Scratch.Get "cntProblems") 1)}}
    {{end}}
    <!-- 알고리즘문서 카운트 -->
    {{if (eq .Section "algorithms")}}
      {{ $.Scratch.Set "cntAlgorithms" (add ($.Scratch.Get "cntAlgorithms") 1)}}
    {{end}}
  {{ end}}
  {{ $counter := print ($.Scratch.Get "counter")}}
  {{ $cntProblems := print ($.Scratch.Get "cntProblems")}}
  {{ $cntAlgorithms := print ($.Scratch.Get "cntAlgorithms")}}
  <div class="nav__onSide">
    <div class="nav__basic">
      <a class="basic__home" href="/">
        <i class="fas fa-home"></i>
        <span>홈</span>
      </a>
      <a class="basic__search" href=/search>
        <i class="fas fa-search"></i>
        <span>검색</span>
      </a>
    </div>
    <ul class="nav__menuJS menu">
      {{ range .Site.Menus.main }}
      {{ $text := print .Name | safeHTML }}
      {{ $active := and (eq $selectedPage (print .Identifier | safeHTML))}}
      {{ if .HasChildren }}
      <li>
        <div class="menu__item hasChildren {{if $active}}selected{{end}}">
          {{ $text }}
        </div>
        <ul class="menu__subList sub">
          {{ range .Children }}
          {{- $text := print .Name | safeHTML -}}
          {{ $subActive := and (eq $selectedSubPage (print .Identifier | safeHTML))}}
          <li>
            <a class="sub__link" href="{{ .URL }}">
              <div class="sub__item {{if $subActive}}selected{{end}}">
                {{ $text }}
              </div>
            </a>
          </li>
          {{ end }}
        </ul>

      </li>
      {{ else }}
      <li>
        <a class="menu__link" href="{{ .URL }}">
          <div class="menu__item {{if $active}}selected{{end}}">
            {{ if (eq $text "최근업데이트") }}
              {{ if (gt $counter 0)}}
                {{ $text }}
                <span class="counter">
                  {{$counter}}
                </span>
              {{else}}
               {{ $text }}
              {{end}}
            {{else}}
            {{ if (eq $text "알고리즘") }}
              {{print $text "(" $cntAlgorithms ")" }}
            {{ else if (eq $text "모든 문제")}}
              {{print $text "(" $cntProblems ")" }}
            {{ else }}
            {{ $text }}
            {{ end }}
            {{end}}
          </div>
        </a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="nav__offSide"></div>
</div>