{{ $searchJS := "js/search.js" | absURL }}
<div class="search">
  <input type="text" id="searchInput" placeholder="검색하기...">
  <ul class="suggestions"></ul>
</div>
<script src="{{ $searchJS }}"></script>