{{ define "main"}}
<div class="container">
  <main class="notFound">
    <h1>작성된 컨텐츠가 없거나 잘못된 주소입니다.</h1>
  
    <a href="{{ "/" | relURL }}">
      <div class="goHome">🏠 홈으로 갑시다</div>
      </div>
    </a>
  </main>
</div>
{{ end }}