{{ define "main" }}
<div class="container">
  {{ partial "breadcrumb.html" . }}
  <div class="main index">
    <div class="main__title">
      <h1>{{ .Title }} {{.Site.Params.version}}</h1>
    </div>
    <div class="main__content">
      <a href="/readme">
        ⭐README
      </a>
      를 통해서 문서 작성법과 사이트 정보사항을 체크해주세요.
      <!-- <h3>Notice</h3>
      <ul>
        <li>해당 레포지터리는 현재 private입니다. 차주 스터디모임시에 관련사이트의 대한 설명과 함께 사용자 그룹을 만들예정입니다.</li>
      </ul> -->
      <h3>🚧 Plans To Work</h3>
      <ul class="plans">
        <li>
          Goggle Analytics + Firebase 정보 FETCH 여부 확인 ➡️ Counter For Hit Check : Due ❌
        </li>
        <li>
          Find comment plugin Alternative.
        </li>
      </ul>
    </div>
  </div>
  {{ partial "footer.html" .}}
</div>

{{ end }}