<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176118560-1"></script>
<script>
  if (document.location.hostname.search('grab-algorithm.netlify.app') !== -1 ) {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
  
    gtag('config', 'UA-176118560-1');
  }
</script>